body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
            flex: 1; 
        }

.search-box {
            flex: 2; 
            padding: 5px;
        }

.search-box input {
            width: 100%;
            padding: 8px;
        }

 .icons {
            display: flex;
            gap: 10px;
        }

.icons img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
        }

main {
    display: flex;
    justify-content: space-between;
}

.video-section {
    flex-grow: 2;
    padding: 20px;
    flex-direction: column;
    flex: wrap;
    align-content: space-evenly;
}
.preview{
    height: calc(33.33% - 20px);
    width: calc(33.33% - 20px);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.item {
            display: inline-block;
            padding: 20px;
            border: 1px solid gray; 
        }
.my-button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            width: 100%
        }
