body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: #4f392361; 
    min-height: 100vh; 
    padding: 20px; 
}

.planner-container {
    width: auto;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff; 
}

.planner-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.planner-content {
    display: flex;
}

.sidebar {
    width: 200px;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.section-header {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    border-top: 1px solid #ddd; 
    padding-bottom: 5px;
}

.task {
    margin-bottom: 10px;
}

.checkbox {
    cursor: pointer;
}

.task-input {
    width: calc(100% - 10px); 
    margin-left: 5px;
}

.calendar {
    flex: 1;
    padding: 10px;
}

.weekdays {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.weekdays .day {
    flex: 1;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    height: 200px;
    margin: 5px;
}

.day-top,
.day-bottom {
    border-top: 1px solid #ddd;
    padding: 40px; 
}

.weekend {
    background-color: #f7f7f7;
}





