body {
    font-family: 'YourCustomFont', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.planner {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 10px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content {
    display: flex;
    border-top: 1px solid #ddd; /* Додаємо лінію */
}

.sidebar {
    width: 100px;
    padding: 10px;
}

.checkbox-item {
    margin-bottom: 10px;
}

.checkbox {
    cursor: pointer;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.day {
    border: 1px solid #ddd;
    padding: 10px;
}

.weekend {
    background-color: #f7f7f7;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
}

.task {
    border: 1px solid #ddd;
    padding: 10px;
}

